.material-symbol-outlined{
     font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
nav{
     display: flex;
     align-items: center;
     margin: auto;
     height:50px;
     background-color: #242b2e;
     padding: 5px;
}

.large-screen{
     width: 100%; 
     max-width: 1200px;
     justify-content: space-between;
     margin: auto;
     display: none;
}

.large-screen img{
     width: 60px;
}

.small-screen{
     margin-right: 0px 20px;
     width: 100%;
     justify-content: space-between;
     flex-wrap: wrap;
     display:flex;
}

.small-screen img{
     width: 50px;
}

.nav-link{
     display: flex;
     align-items: center;
}

.nav-link a{
     margin-right: 20px;
     color: #fff;
     margin-top: 20px;
     text-decoration: none;
}

@media screen  and (min-width:800px){
     .large-screen{
          display: flex;
     }

     .small-screen{
          display: none;
     }
}


.large-screen button{
     padding: 0px 40px;
     margin: 10px 0px;
     border: 0;
     background-repeat: 5px;
     background-color: #0072e1;
     font-weight: bold;
     color: #fff;
     height: 30px; 
     border-radius: 5px;
}

.hero-section{
     display: flex;
     align-items: center;
     width: 100%;
     max-width: 1200px;
     flex-direction: column;
     margin: auto;
}

.hero-section .text-section{
     display: flex;
     height: 600px;
     width: 100%;
     flex-direction: column;
     justify-content: center;
     margin-top: 20px;
}

.text-section h3{
     font-size:30px;
     margin: 30px 0px 0px;
     color: #000000;
}

.text-section h1{
     font-size: 60px;
     color: #1893f7;
     margin: 5px 0px 0px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.text-section h4{
     font-size: 24px;
     color: #1893f7;
     margin: 30px 0px;
}

.sponsor-image img{
     width: 20%;
     margin-bottom: 20px;
}

.text-section > p{
     font-size: 18px;
     margin: 16px 0px 0px;
     font-weight:400px;
}

.hero-section video{
     width: 90%;
     outline: 0;
     border: 0;
}

@media screen and (min-width:800px) {
     .large-screen{
          display: flex;
     }

     .small-screen{
          display: none;
     }

     .hero-section{
          flex-direction: row;
          align-items: start;
          justify-content: space-between;
     }

     .hero-section > video{
          height: 600px;
          width: 600px;
     }
     
}